GOOGLE_MAPS_API_KEY=<replace-this-with-your-google-map-api-key>
OPENAI_API_KEY=<replace-this-with-your-aws-bedrock-api-key>
OPENAI_BASE_URL=https://bedrock-runtime.ap-south-1.amazonaws.com/openai/v1
OPENAI_SERVICE_TIER=flex
AWS_REGION=ap-south-1